body {
  padding: 0;
  margin: 0;
  text-align: center;
  background-color: lightcyan;
}

.container {
  padding: 30px;
  width: 100hw;
  background-color: lightcyan;
}

.board {
  background-color: darkcyan;
  display: inline-block;
  /* border: 1px solid black; */
}

.row {
  display: block;
  /* border: 1px solid black; */
  padding: 10px;
}

.card {
  background-color: white;
  margin: 20px;
  display: inline-block;
  border: 1px solid black;
  height: 200px;
  width: 200px;
  transition: transform 1s;
}

/* set */
.card:hover {
  transform: scale(1.2);
}

.triangle {
  width: 30;
  height: 80px;
  margin: 15px;
  float: left;
}

.square {
  border-radius: 5px 30px 5px;
  height: 70px;
  width: 50px;
  float: left;
  margin: 15px;
}

.circle {
  display: block;
  border-radius: 50% 50% 50% 50% / 60% 60% 40% 40%;
  height: 60px;
  width: 40px;
   
  float: left;
  margin: 15px;
}

.full.blue {
  border: 1px solid black;
}
.lined.blue {
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 5px,
    blue 5px,
    blue 10px
  );
}
.lined.green {
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 5px,
    green 5px,
    green 10px
  );
}
.lined.red {
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 5px,
    red 5px,
    red 10px
  );
}

.red {
  background-color: red;
}

.blue {
  background-color: blue;
}

.green {
  background-color: green;
}
.empty.red {
  border: 3px solid red;
  background-color: white;
}
.empty.blue {
  border: 3px solid blue;
  background-color: white;
}

.empty.green {
  border: 3px solid green;
  background-color: white;
}
